[Unit]
Description = Starts instance of Kodi headless version
After = network.target remote-fs.target nss-lookup.target mysqld.service

[Service]
User = kodi
Group = kodi
PAMName=login
Type = simple
ExecStart = /usr/bin/kodi --headless tcp
Restart = on-abort
StandardInput = tty

[Install]
WantedBy = multi-user.target
